
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.animate-fall {
  animation: fall linear infinite;
}

.content {
  max-height: 100%;
  overflow-y: auto;
  font-size: 0.875rem;
  line-height: 1.4;
}

.content img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Gothic';
  src: local('Gothic'), url(./assets/dr_po_gothicru_regular.ttf) format('truetype');
}
